# ignore all backup files
*~
*.bak

# ignore all "target" directories created by Maven
target/

# ignore all generated libraries .dylib .so .o .a files
*.[oa]
*.so
*.dylib
*.DS_Store


# IntelliJ IDEA
*.[ei]ml
.idea/*
